<div>
    <header>
        <nav>
            <h1 class="logo">GUA</h1>
            
            <a href="/home">รวม Quiz</a>
            <a href="/myquiz">Quiz ของฉัน</a>
            <a href="/createquiz">สร้าง Quiz</a>

            <div class="icon1">
                <img src="../../../assets/img/fluent_chat-12-regular.png " alt="" height="35px" >
                        
                  

              </div>  
              <div class="icon2">
               
                  
                <img src="../../../assets/img/pepicons-pencil_bell-circle.png" alt="" height="35px">

              </div>  
        
              <div class="icon3" routerLink="/profile">
                
                  <img src="../../../assets/img/octicon_feed-person-16.png" alt="" height="35px">

              </div>  
                  
            
            

        </nav>
    </header>

    
</div>