<app-navbar></app-navbar>
<div class="headtext">
    <h1>สร้างเกม Quiz เสร็จแล้ว</h1>
</div>
<div class="box-1">
    <div class="img">
        <img src="../../../assets/img/math.png" alt="" width="792px" height="472">

           
       
    </div>


    <div class="data-img">
        <h2 > คุณเก่งคณิตศาสตร์ขนาดไหน</h2>

            <p>โดย DarinJingjing</p >
    </div>

</div>


    <div class="data-link">
        <h3>URL Quiz : <a>ลิ้งเกม</a></h3>
    </div>

    <div class="data-url">
        (สามารถส่ง URL ให้เพื่อนของคุณเล่นได้ทันที)
    </div>

<div class="box-btn">
    <div class="btn">
        <button class="custom-button">แชร์ Facebook</button>
        <button class="custom-button1" > X </button>

    </div>

</div>