<app-navbar></app-navbar>

<div class="container">
    <div class="column1">
        <div class="box-profile">
            <img src="../../../assets/img/profile.png" alt="" class="profile">
            <div>
                <img src="../../../assets/img/pen.png" alt="" class="size-pen pen-profile">
            </div>
        </div>

        <div class="data">
            <div>
                <div class="name">
                    karin <img src="../../../assets/img/pen.png" alt="" class="size-pen-1">
                </div>
                <div class="three-col">
                    <span>Username</span>
                    <span>Karina</span>
                </div>
                <div class="three-col">
                    <span>E-mail</span>
                    <span>Karina@gmail.com</span>
                    <img src="../../../assets/img/pen.png" alt="" class="size-pen-2">
                </div>
                <div class="three-col">
                    <span>เบอร์โทร  </span>
                    <span>+66987456123</span>
                    <img src="../../../assets/img/pen.png" alt="" class="size-pen-2">
                </div>
                <div class="three-col">
                    <span>รหัสผ่าน</span>
                    <span>* * * * * *</span>
                    <img src="../../../assets/img/pen.png" alt="" class="size-pen-2">
                </div>
                <div class="three-col">
                    <span>เป็นสมาชิกมาเเล้ว 8 วัน</span>
                </div>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column2">
            <div class="QC">
                Quiz ที่สร้าง
            </div>
            <div class="box">
                <div class="item">
                    <img src="../../../assets/img/iconmath.png" alt="" class="png">
                    <span class="text1">คุณเก่งคณิตศาสตร์มากแค่ไหน
                        <br>25/01/2567  18:30
                    </span>
                    <button class="my-button">คลิกที่นี่</button>
                </div>
            </div>
        </div>

        <div class="column3">
            <div class="QC">
                Quiz ที่เล่น
            </div>
            <div class="box1">
                <div class="item1">
                    <img src="../../../assets/img/iconmath.png" alt="" class="png">
                    <span class="text1">คุณเก่งคณิตศาสตร์มากแค่ไหน
                        <br>25/01/2567  18:30
                    </span>
                    <span class="text2"> คุณเก่งภาษาอังกฤษมากแค่ไหน
                        <span class="text3 "><br>25/01/2567  18:30
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
