<app-navbar></app-navbar>
<h1>คุณเก่งคณิตศาสตร์ขนาดไหน</h1>
<p class="banana">จำนวนคำถาม 4 ข้อ,4 คะแนนผู้เล่นอาจได้คะแนนตั้งแต่ 0-4 คะแนน <br>กรุณาระบุระดับ(Level)ที่ผู้เล่นจะได้รับในแต่ละช่วงคะแนน </p>
<p class="data">คะแนน 0-1</p>
<div>
    <div class="coconut">
        <p class="monter">ระดับ <br>เช่นอ่อนหัด</p>
        <input type="text" class="person">
        <button class="locate">ใส่รูป</button>
    </div>
        
    <div>
        <button class="perple">คำอธิบายเพิ่มเติม(ถ้ามี)</button>
    </div>
    <div>
        <button class="sentent">+เพิ่มระดับ</button>
    </div>
    <div>
        <button class="concle">เสร็จสิ้น</button>
    </div>
</div>
