<app-navbar></app-navbar>

<main>
  <div class="quiz-container">
    <div class="quiz">
      <img src="../../../assets/img/math.png" class="quiz-image">
      <div class="quiz-info">
      <h2 class="quiz-name">คุณเก่งคณิตศาสตร์ขนาดไหน</h2>
      <p class="quiz-date">Date: 26/01/2567  14:36</p>
      <p class="quiz-score">อัจฉริยะ<br> 4/4</p>
  </div>
    </div>

    <div class="quiz">
      <img src="../../../assets/img/taylor.png" class="quiz-image">
      <div class="quiz-info">
      <h2 class="quiz-name">คุณรู้จักอัลบั้มเทลเลอร์มากแค่ไหน</h2>
      <p class="quiz-date">Date: 26/01/2567  13:15</p>
      <p class="quiz-score">หล่อนเป็นสลิ่มแม่เทย์เข้าแล้วจ่ะ<br> 4/4</p>
  </div>
    </div>

    <div class="quiz">
      <img src="../../../assets/img/kpop.png" class="quiz-image">
      <div class="quiz-info">
      <h2 class="quiz-name">ทายโลโก้kpop</h2>
      <p class="quiz-date">Date: 26/01/2567  09:31</p>
      <p class="quiz-score">คุณไม่ใช่ติ่ง <br> 5/31</p>
  </div>
    </div>

    <div class="quiz">
      <img src="../../../assets/img/eng.png" class="quiz-image">
      <div class="quiz-info">
      <h2 class="quiz-name">คุณเก่งภาษาอังกฤษมากแค่ไหน</h2>
      <p class="quiz-date">Date: 25/01/2567  15:41</p>
      <p class="quiz-score">เจ้าของภาษาปะเนี่ย<br> 15/15</p>
  </div>
    </div>

    <div class="quiz">
      <img src="../../../assets/img/zodiac.png" class="quiz-image">
      <div class="quiz-info">
      <h2 class="quiz-name">ดวงปีนี้ของคุณ</h2>
      <p class="quiz-date">Date: 01/01/2567  11:11</p>
      <p class="quiz-score">ดวงดีสุด ๆ</p>
  </div>
    </div>
  </div>
</main>