
<app-navbar></app-navbar>

<div class="center">
    <div class="container">
      <label for="show" class="close-btn fas fa-times" title="close"></label>

      <div class="text">
        กรุณาอ่านก่อนสร้าง QUIZ
      </div>

          <div class="data">
            <p>-ห้ามใช้ขอความหรือรูปภาพที่เข้าข่ายผิดศีลธรรม ผิดกฎหมาย สร้างความแตกแยก 
              <br>หรือมีเนื้อหาใดๆที่สังคมไม่อาจจะยอมรับได้
              <br>-ทุกๆเกม Quiz จะได้รับการตรวจทานจากทางเว็บก่อน 
              <br>(โดยปกติใช้เวลาประมาณ 1 - 24 ชั่วโมง)
              <br>-Quiz ที่สร้างขึ้นและไม่มีการใช้งานจะถูกถอดออกโดยอัตโนมัติ
              <br>-ทางเว็บขอสงวนสิทธิ์ในการถอด/ยกเลิก ตามความเหมาะสม</p>
          </div>


          <div class="button-container">
            <button class="btn">Funny Quiz
              <br>เกมทายใจ ทายนิสัย บอกตัวตนฯ
            </button>
            
            <button class="btn">Score Quiz
              <br>ควิซนับคะแนน บอก Level
            </button>
          </div>
          


    </div>
      
</div>


  