<div class="center">
    <div class="container">
        <label for="show" class="close-btn fas fa-times" title="close"></label>
        <div class="text">
            Login
        </div>
  
        <form action="#">
            <div class="data">
                <label>New password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="data">
                <label>Repeat Password</label>
                <input type="password" id="password" name="password" required>
            </div>


            <div class="data">
                <label>Email</label>
                <input type="text" id="email" name="email" required>
            </div>
  
            <div class="btn">
                <div class="inner"></div>
                <button type="button" onclick="Update()">Update Password</button> 
                <!-- ใช้เชื่อมฟั่งชัน -->
            </div>
            <!-- <div class="signup-link">
              <a routerLink="/forgotpassword">Forgot Password?</a>
              <a routerLink="/signup">Signup now</a>
          </div> -->
        </form>
    </div>
  </div>