<app-navbar></app-navbar>

<div id="quiz-container">

  <h1>คุณเก่งคณิตศาสตร์ขนาดไหน</h1>

  <img id="quiz-image" src="../../../assets/img/math.png" alt="Quiz Image">

  <div class="question">
    <p>1234 + 4321</p>
  </div>
  
  <div class="grid-container">
        <div class="grid-item"><label><input type="image" src="../../../assets/img/A_Button.png" width="25" height="25" name="q1" value="555"> 555</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/B_Button.png" width="25" height="25" name="q1" value="5555"> 5555</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/C_Button.png" width="25" height="25" name="q1" value="55555"> 55555</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/D_Button.png" width="25" height="25" name="q1" value="444"> 444</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/E_Button.png" width="25" height="25" name="q1" value="4545"> 4545</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/F_Button.png" width="25" height="25" name="q1" value="5556"> 5556</label></div>
    </div>

    <div class="question">
      <p>1234 - 4321</p>
  </div>

  <div class="grid-container">
    <div class="grid-item"><label><input type="image" src="../../../assets/img/A_Button.png" width="25" height="25" name="q2" value="3087"> 3087</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/B_Button.png" width="25" height="25" name="q2" value="-5555"> -5555</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/C_Button.png" width="25" height="25" name="q2" value="-3087"> -3087</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/D_Button.png" width="25" height="25" name="q2" value="5555"> 5555</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/E_Button.png" width="25" height="25" name="q2" value="-1234"> -1234</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/F_Button.png" width="25" height="25" name="q2" value="1234"> 1234</label></div>
    </div>

    <div class="question">
        <p>6! - 5!</p>
      </div>
    
      <div class="grid-container">
        <div class="grid-item"><label><input type="image" src="../../../assets/img/A_Button.png" width="25" height="25" name="q3" value=" 1!">  1!</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/B_Button.png" width="25" height="25" name="q3" value="600"> 600</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/C_Button.png" width="25" height="25" name="q3" value="60">60</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/D_Button.png" width="25" height="25" name="q3" value="120"> 120</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/E_Button.png" width="25" height="25" name="q3" value="720"> 720</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/F_Button.png" width="25" height="25" name="q3" value="840"> 840</label></div>
      </div>

      <div class="question">
        <p>2 ^ 5</p>
      </div>
    
      <div class="grid-container">
        <div class="grid-item"><label><input type="image" src="../../../assets/img/A_Button.png" width="25" height="25" name="q4" value="10"> 10</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/B_Button.png" width="25" height="25" name="q4" value="32"> 32</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/C_Button.png" width="25" height="25" name="q4" value="7">  7</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/D_Button.png" width="25" height="25" name="q4" value="3"> 3</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/E_Button.png" width="25" height="25" name="q4" value="30"> 30</label></div>
        <div class="grid-item"><label><input type="image" src="../../../assets/img/F_Button.png" width="25" height="25" name="q4" value="25"> 25</label></div>
      </div>
  
    <button class="submit-btn" onclick="calculateScore()">Submit</button>

</div>
