<div class="center">
    <div class="container">
        <label for="show" class="close-btn fas fa-times" title="close"></label>
        <div class="text">
            Signup 
        </div>
  
        <form action="#">
            <div class="data">
                <label>First Name </label>
                <input type="text" id="FirstName" name="FirstName" required>
            </div>

            <div class="data">
                <label>Last Name</label>
                <input type="text" id="LastName" name="LastName" required>
            </div>


            <div class="data">
                <label>Email</label>
                <input type="text" id="Email" name="Email" required>
            </div>


            <div class="data">
                <label>password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="data">
                <label>confirm password</label>
                <input type="confirm password" id="confirmpassword" name="confirmpassword" required>
            </div>
  
            <div class="btn">
                <div class="inner"></div>
                <button type="button" onclick="Submit()">Submit</button> 
                <!-- ใช้เชื่อมฟั่งชัน -->
            </div>

            <!-- <div class="signup-link">
              <a routerLink="/forgotpassword">Forgot Password?</a>
              <a routerLink="/signup">Signup now</a>
          </div>
           -->
        </form>
    </div>
  </div>